[2015-11-18 18:18] laander opened #3 "Auto go-to next timeslot (if outside window or next week)"

[2015-11-18 18:18] laander opened #4 "Make unit tests for core functionality"

[2015-11-18 18:19] laander opened #5 "Better support for 12/24 hour clock on booking page"
The formatting on the Booking page should also adhere to the localization choice

[2015-11-18 18:20] laander opened #6 "More expressive success text"
The success message after booking complete could be more clear and expressive, preferably with a message

[2015-11-18 18:40] laander opened #7 "Today button is hidden under avatar in mobile view"
Problem:
<img width="356" alt="screen shot 2015-11-19 at 4 30 22 pm" src="https://cloud.githubusercontent.com/assets/222419/11274806/e2d69f88-8eda-11e5-8b92-c88a7954d9b1.png">

[2015-11-18 21:20] laander opened #8 "Custom text strings with support for localization"

[2015-11-18 21:35] fragmichdoch opened #9 "pre-filling booking form"
pls allow to pre-fill the booking form: something like [my-calendar-url.com]**?first_name=John&last_name=Smith&email=john@smith.com**

[2015-11-18 21:38] fragmichdoch opened #10 "customizing fields in the booking form (add address fields)"
i want to define which input fields the booking form should contain. and which of them should be mandatory.

e.g. we would need to enable the booking user to set an address where the appointment should take place.

[2015-11-18 22:04] fragmichdoch commented on #6
![bildschirmfoto 2015-11-18 um 23 04 10](https://cloud.githubusercontent.com/assets/15915066/11255840/c5bc92b4-8e48-11e5-8c8a-1b261566d6ad.png)

this might help :)

[2015-11-19 09:58] laander commented on #6
Thanks for the quick mockup! Here's my first take on it:

<img width="739" alt="screen shot 2015-11-19 at 10 57 14 am" src="https://cloud.githubusercontent.com/assets/222419/11267581/68c64aaa-8eac-11e5-902c-b6b02cae20a1.png">

[2015-11-19 11:04] fragmichdoch commented on #6
looks fine! two things
- you still don't tell the user what to do next. a reasonable number might think that the slot has been finally booked and will forget to confirm
- as the user has typed in his/her email address only once, it might be better to show the email address, again

..just my two cents

[2015-11-19 15:16] laander commented on #6
Fair points, updated again:
<img width="383" alt="screen shot 2015-11-19 at 4 15 19 pm" src="https://cloud.githubusercontent.com/assets/222419/11274386/d420fd64-8ed8-11e5-8f6b-f700fc6ee63d.png">

[2015-11-19 15:32] laander commented on #7
Could this be a way to solve it?
<img width="353" alt="screen shot 2015-11-19 at 4 29 58 pm" src="https://cloud.githubusercontent.com/assets/222419/11274853/16b70496-8edb-11e5-9e59-f6ea1d88a63a.png">

Problem is that it will take a lot of FullCalendar hacking, as we have to move the today button out of the right header group and into the left. Or overwrite it with CSS, but I'd rather not go down t

[2015-11-19 15:55] fragmichdoch commented on #6
release! ;)

..you will probably gain some experience while you A/B test the wording. If you ask me, I would always prefer a wording that tells **exactly** what to do next and expresses urgency. e.g "Please do now check your mailbox and accept the invitation to confirm the booking."..your call :)

[2015-11-19 16:04] laander commented on #6
While i agree with what you're saying, it's a little complicated in this case because
1) We're short on space and I want to keep the wording as short possible (while still conveying the right message)
2) If the recipient has a Google account, you can actually skip the inbox skip totally - the invitation can be accepted directly from Google calendar. Therefore, I'd like to signal that in a more gen

[2015-11-19 16:28] #5 closed

[2015-11-19 23:09] laander commented on #6
Released in v1.2.0, closing..

[2015-11-19 23:09] #6 closed

[2015-11-21 16:34] vdaniuk opened #15 "fullCalendar language option doesn't work"
fullCalendar language option is documented here http://fullcalendar.io/docs/text/lang/ but I couldn't get it to work with booking-js.

I've tried both basic booking-js option
`
{
...
fullCalendar: { lang: "de" },
...
}
`

and explicit widget init

`
var widget = new TimekitBooking();
widget.init(config);
widget.fullCalendar({
            lang: "de"
          });
`

Is it possible to use different

[2015-11-21 23:46] laander commented on #15
@vdaniuk

I'm working on a PR that adds proper localization support, should be up on Monday :+1: The only gotcha is that you need to load the fullcalendar language yourself, as adding all languages by default would increase the library size by +100kb.

Next step is localization support for all text strings in the booking form.

[2015-11-22 08:19] Amakaruk opened #16 "Phone Numbers"
Can this be customized to collect phone numbers when someone reserves a slot on your calendar?

[2015-11-22 10:21] laander commented on #16
Hi @Amakaruk

Yeah, I don't see why not. Currently, I'd recommend doing it through the comment/description field, as that is saved on the event in Google calendar. I'm also looking into support for custom fields (see #10) so you can pick them yourself. What's your thoughts?

[2015-11-22 19:59] laander commented on #15
@vdaniuk

PR ready: #17 - is that sufficient enough for you at the moment?

[2015-11-23 10:30] laander commented on #15
Fix released in [v1.2.2](https://github.com/timekit-io/booking-js/releases/tag/v1.2.2), closing issue

[2015-11-23 10:30] #15 closed

[2015-11-23 17:02] vdaniuk commented on #15
@laander Thanks for a fast update! Lang option seems to be working fine.

[2015-11-24 12:04] BoweFrankema opened #19 "Using HTTPS"
Is there any way to use HTTPS via your CDN? I'd like to use the widget but sadly get the following error on our site:

[code]

:crying_cat_face:

[2015-11-24 12:11] laander commented on #19
@BoweFrankema

CloudFront requires some configuration to get SSL to work on custom domains (https://aws.amazon.com/cloudfront/custom-ssl-domains/). I'm on it though, hope to get it flying within the next couple of days, will report back when it's up and stable!

[2015-11-24 15:59] kevingmcelroy commented on #16
Yes this would be great - Id love to see a phone number and skype field available!

[2015-11-24 17:27] spangenberg-xx opened #20 "Request- stripe?"
would be awesome with stripe integration.

Charge for consultations etc.

[2015-11-24 17:44] DevonThomas opened #21 "Request - iCal Compatibility"

[2015-11-25 02:27] zulhfreelancer commented on #9
+1

[2015-11-25 08:10] bradvogel opened #22 "REST API?"
Do you offer a REST API so we can generate our own "booking widget" using your data?

[2015-11-25 11:02] laander commented on #22
Hey @bradvogel - we absolutely do! The widget is actually built on top of the Timekit API, which I think is what you're looking for.

Check out the docs here http://developers.timekit.io and if you're coding in javascript, we have a JS SDK too https://github.com/timekit-io/js-sdk (which is what the widget is using)

Let me know if there's any implementation details I can help with

[2015-11-25 11:27] laander commented on #21
@DevonThomas , do you mean the [ical/ics format](https://en.wikipedia.org/wiki/ICalendar) or Apple's calendar app (formerly known as iCal)? :)

[2015-11-25 14:23] #22 closed

[2015-11-25 14:36] GMGrimley opened #23 "Booking Confirmation"
*Use Case*:

I co-own a recording studio, and we receive booking requests for the studio space and/or appointments. However, just because someone requests the booking doesn't mean that they automatically have it reserved. We contact them to know if their request is accepted or declined.

*Idea*:

When a booking is made with Booking.js, perhaps send it as an invitation from the individual booking t

[2015-11-25 16:52] laander opened #26 "In mobile view, empty days should show an explaining text"

[2015-11-25 19:25] laander opened #28 "Output a warning if API access is forbidden due to wrong domain referrer"

[2015-11-25 20:53] DevonThomas commented on #21
@laander ical / ics format.

[2015-11-26 02:08] zulhfreelancer opened #29 "Create video call event inside Google Calendar"
I just try out BookingJS and it was awesome!

But I noticed a missing feature and I would like to recommend it here.

### Create Video Call Event

So, let say I want to request a video call meeting session with the calendar owner, so, I can simply fill-up the form.

Once I click the "BOOK IT" button, it will create an event inside the Google Calendar and automatically add Video Call as the type of

[2015-11-26 04:51] imunolion commented on #21
+1

User scenario: To organize a party, users can modify online with their browsers, then subscribe it even with their own calendar (e.g. Outlook, it can also remind items with pop-up).
Since it's defacto standard among most of calendar/scheduler apps, users can register onto their favorite app.  mozilla-comm/ical.js might help.

[2015-11-26 06:31] laander commented on #4
Released in [v1.3.0](https://github.com/timekit-io/booking-js/releases/tag/v1.3.0), closing issue

[2015-11-26 06:31] #4 closed

[2015-11-26 09:55] laander opened #30 "Multiple people can book one timeslots (tours, group events etc)"

[2015-11-26 09:58] #28 closed

[2015-11-26 10:57] azimgd opened #31 "Licence ?"

[2015-11-26 11:09] laander commented on #31
@azimgd The widget is released under MIT license, so you can do pretty much what you want with it. But we encourage people to reference the library using our CDN so we can push out updates over the wire (much like Stripe's Checkout.js)

[2015-11-26 12:55] laander commented on #20
I'm looking into how this could be added the simplest way possible.

Meanwhile, check out the callbacks, that should be sufficient enough to hook into the createEvent handler and display a Stripe payment form :+1:

[2015-11-26 13:06] #31 closed

[2015-11-26 13:52] omouse opened #32 "Missing LICENSE or COPYING file"
I was unsure of what license the code was under so I didn't want to risk looking at it at all.

Please include a LICENSE that indicates if this is a GPL v3, LGPL, Apache license or some other license.

Thanks

[2015-11-26 14:06] laander commented on #32
That is definitely missing, thanks for pointing that out :+1:

Added it now (MIT): https://github.com/timekit-io/booking-js/blob/master/LICENSE.md

[2015-11-26 14:06] #32 closed

[2015-11-26 14:50] snadal commented on #30
+1 for this

On top of this feature, It'd be nice if:
- the maximum number of people can be specified
- people can cancel prior to reaching timeslot

[2015-11-26 17:57] laander commented on #16
@Amakaruk @kevingmcelroy Could you take a look at the following PR and tell me if that's sufficient for you? https://github.com/timekit-io/booking-js/pull/33
Thx!

[2015-11-26 17:58] laander commented on #10
@fragmichdoch

Would you mind giving this PR https://github.com/timekit-io/booking-js/pull/33 a look and tell me if it solves your problem? Thanks

[2015-11-26 18:04] Amakaruk commented on #16
That's great - what about Stripe payment integration, eh? But nice work on
the new fields - that's helpful.

On Thu, Nov 26, 2015 at 10:57 AM, Lasse Boisen Andersen <
notifications@github.com> wrote:

[2015-11-26 20:43] #10 closed

[2015-11-27 02:07] Amakaruk commented on #23
I also would like this feature.

[2015-11-27 08:50] cabaret commented on #30
+1, would be great to see this implemented.

[2015-11-27 11:10] laander opened #34 "Ability to specify order of the booking form fields"
As referenced in #33 by @fragmichdoch

[2015-11-27 11:12] laander opened #35 "Floating labels for inputs to enhance UX (especially with prefill)"
Implementation examples: http://bradfrost.com/blog/post/float-label-pattern/
As referenced in #33 by @fragmichdoch

[2015-11-27 11:14] laander opened #36 "The location booking field should support Google places autocomplete"
Docs: https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform

Question: should the API key be customizable or should we create a "mother app" that all widget instances will use? What are the implications?

As referenced in #33 by @fragmichdoch

[2015-11-27 11:36] laander commented on #16
@Amakaruk I've got a separate issue on that https://github.com/timekit-io/booking-js/issues/20 - throw a vote there and I'll take a look at it :)

[2015-11-27 11:36] #16 closed

[2015-11-27 11:43] laander commented on #16
Released in [v1.4.0](https://github.com/timekit-io/booking-js/releases/tag/v1.4.0]

[2015-11-27 11:44] laander commented on #10
Released in [v1.4.0](https://github.com/timekit-io/booking-js/releases/tag/v1.4.0)

[2015-11-27 11:44] laander commented on #9
Released in [v1.4.0](https://github.com/timekit-io/booking-js/releases/tag/v1.4.0), closing issue :+1:

[2015-11-27 11:44] #9 closed

[2015-11-27 15:01] Amakaruk commented on #20
+1!

[2015-11-27 15:02] Amakaruk commented on #29
+1!

[2015-11-29 02:28] kfdm opened #39 "Support RRULE (recurring events)"
My google calendar has a lit of recurring events but it seems like they're ignored. Does bookingjs know how to read recurring events or does it only understand unique events?

[2015-11-29 14:37] laander commented on #39
Hi @kfdm

Booking.js uses the Timekit API to sync events with Google. If it encounters a recurring event, it treats each event instance as a regular event, thus the timeslot it occupies are considered busy in the FindTime (availability) algorithm.

From your description, it seems like this is not handled as expected. Could you send me an e-mail (la@timekit.io) with your Google email and a screensh

[2015-11-30 04:46] kfdm commented on #39
Thanks. I've emailed you with the information. :)

[2015-11-30 15:04] zekenie commented on #29
+1 I might use this with this feature. I'm working on a system to get help with programming workshops. Our software currently supports on-campus students. If we wanted to support remote students, we'd likely need a time to schedule a call.

[2015-12-02 11:59] #3 closed

[2015-12-02 11:59] #7 closed

[2015-12-02 14:38] fragmichdoch commented on #30
+1

[2015-12-02 17:44] NoelOC opened #42 "Incorrect CDN link in Readme"
The CDN links are incorrect on the Readme page.

It currently shows : `cdn.timekit.io/bookingjs/1/booking.min.js`
It should be : `cdn.timekit.io/booking-js/v1/booking.min.js`

This occurs in two places.

[2015-12-02 18:10] vasderam commented on #20
+1 for PayPal as well!

[2015-12-02 18:11] vasderam commented on #30
+1

[2015-12-02 18:12] vasderam commented on #30
+1

[2015-12-02 18:14] vasderam opened #43 "Facebook integration"
Integrate the calendar into Facebook pages. Have a look at how Setmore do this.

http://www.setmore.com/features/facebook?OpAdShown

Decided to opt with booking.js as its more open for our APIs!

[2015-12-02 18:30] jhanstra commented on #20
+1 for Stripe!

[2015-12-03 10:39] laander commented on #42
@NoelOC Thanks for reporting, that's an ugly one

[2015-12-03 10:39] #42 closed

[2015-12-03 13:02] laander opened #45 "Styles are sometimes overwritten by website's general css"

[2015-12-03 13:03] laander opened #46 "The calendar are displayed as day view although container is wide"
This can happen if the container that booking.js is inside are hidden/not visible and thus FullCalendar can't properly calculate the width of the widget.

[2015-12-03 14:20] laander opened #47 "Booking confirmation email is sent to calendar owner too"

[2015-12-03 14:25] derekurben commented on #47
Thank you for setting this up!

I would be happy to put a bounty on this if that helps speed up the process.

[2015-12-03 22:28] alialkhatib opened #48 "Handling deleted events?"
Maybe this is an issue on Google Calendar's side, but I'm noticing that when I create an event in Google Calendar (thus blocking booking.js from offering slots overlapping with that event), whatever mechanism that prevents booking.js from offering those slots persists even after I **delete** the event on Google Calendar.

The process for replicating this is:
1. using Google Calendar as the backend

[2015-12-04 13:25] slateid commented on #19
Yes I would also like to be able to use this on a secure site. Thanks for the amazing widget.

[2015-12-04 19:10] alialkhatib commented on #48
Not sure what the deal is, but I can't replicate this issue when I go through the demo/embed code process on the site, so I'm figuring that this is a problem with my setup. Sorry about that!

[2015-12-04 19:10] #48 closed

[2015-12-06 02:06] monfresh commented on #19
I just came across this, and was interested in using it as it looks really neat, but unfortunately won't be able to until HTTPS is supported. Any idea when we can expect this to happen? Thanks!

[2015-12-06 02:19] monfresh commented on #19
Also, let me know if you need help setting up SSL certificates on AWS. Although I haven't used custom domains for Cloudfront, I have experience with setting up HTTPS for a static S3 site that uses Cloudfront.

[2015-12-06 16:49] pfista commented on #19
Might be too late, but https://letsencrypt.org/ just opened up their public beta December 3rd.

[2015-12-07 08:51] laander commented on #19
@BoweFrankema @slateid @monfresh @pfista

Thanks all for following up. The short-term solution is to use our Cloudfront URL to serve HTTPS traffic, as Amazon already provides a certificate to this. Here's the full URL:
https://dbhpllgef527b.cloudfront.net/booking-js/v1/booking.min.js

(it resolves to the same resource as http://cdn.timekit.io/booking-js/v1/booking.min.js, so library updates will d

[2015-12-07 09:31] laander commented on #45
Listing a few possible solutions and their pros/cons:

1) Using the CSS `all` property to reset cascading styles. The problem is lack of browser support (~60%): http://caniuse.com/#feat=css-all
2) Using the Shadow DOM for proper CSS scoping (as with web components). Again, browser support is shallow, with only ~50% support (Chrome): http://caniuse.com/#feat=shadowdom
3) Increase specificity of CSS

[2015-12-07 10:17] laander commented on #48
@alialkhatib

Thanks for reaching out. It's not totally clear right now, but the Google sync (from Google to Timekit) runs twice daily. This means that changes your doing in Google (adding new events) is first taken into account in the availability check when we've synced with your account, which can take up to 12 hours. If you want to trigger a sync manually, you can do a booking (each "create ev

[2015-12-07 14:16] slateid commented on #47
Looking forward to this enhancement.

[2015-12-07 21:53] alialkhatib commented on #39
This is a similar but seemingly different question, so my apologies if it should be a separate issue - is it reasonable to extend bookings so that appointments are potentially recurring? I can think of a couple of use cases where it would be preferable to set recurring appointments every week or month (compared to manually booking every appointment).

I'm imagining a dropdown option in the booking

[2015-12-07 21:57] alialkhatib commented on #48
No, that makes sense - thanks for the follow-up and clarification! I think in the meantime we'll just rely on that (up to) 12-hour lag. I'm not anticipating lots of scrambling among users in my case, but I'll think about implementing direct API calls if the need arises.

Thanks again!

[2015-12-08 08:57] laander commented on #48
Sounds good :+1:

[2015-12-08 13:52] lenamtl opened #49 "Suggestion: Quick booking, without email confirmation"
Hi,

I don't know if it is already possible...
I need a quick booking without sending email confirmation to the client
No email field mandatory

Thanks

[2015-12-08 14:11] laander commented on #49
Hi @lenamtl
You can specify not to send invites/confirmation to the visitor booking the timeslot through the config:
[code]
The e-mail field is always required though. What would expect happen without an email set, in Google calendar? No participant added?

[2015-12-08 20:16] lenamtl commented on #49
Good to know, thanks.

About email I mean the email field into participant form ..

[2015-12-09 04:50] monfresh opened #50 ""Book It" button isn't easily clickable when showCredits is true"
I finally found the time to test the widget, and I ran into an issue where the "Book It" button seemed like it wasn't working at all. Then, I noticed that the only way to click it while the credits were present was to very slowly slide the cursor over the top of the button. I tried this in the latest versions of both Chrome and Safari on OS 10.10.5 (Yosemite). In Safari, the credits actually overl

[2015-12-09 04:59] monfresh opened #51 "Calendar initially displays available times during the following week even though the current week has available times"
The only setting that I could find that would affect this is `goToFirstEvent`, and whether I set it to `true` or `false`, the calendar always displays next week instead of this week. My filters are as follows:
[code]
Is there some other setting that could be used to define which week shows up by default?

[2015-12-09 05:08] monfresh commented on #50
If you inspect the credits link in the browser developer tools, you'll notice that the anchor tag takes up a large area that overlaps the Book It button, which is causing this issue.

Chrome: http://cl.ly/image/1S1I27281f0c
Safari: http://cl.ly/image/1u121X0c0v44

[2015-12-09 05:18] monfresh commented on #50
I'm not a CSS expert, but I played around with the `bottom` and `padding` attributes of the `bookingjs-poweredby` class (in the div right above the anchor tag) and was able to move it down enough to make the button clickable in Chrome, but the same settings made the credits go down too low in Safari.

[2015-12-09 05:24] monfresh opened #52 "Domain name restriction does not seem to be working"
When setting up my widget on booking.timekit.io, it asked me for a list of domain names where I wanted to run the widget. I assumed that the widget would only be able to create calendar events when run on the domain names I specified. However, I was able to successfully book a time slot and see it get created in my calendar, as well as send the confirmation email while running the widget on my dev

[2015-12-09 13:37] laander opened #53 "Create custom booking fields on the fly"

[2015-12-09 13:57] laander commented on #51
Hi @monfresh

This seems weird to me as `goToFirstEvent` will check the first event returned and navigate to that date (the week it resides in). There is a potential conflict when using the any of the following filters:
[code]
or the result sorting option:
[code]
as all of these in some way changes the order of the results. I think there's something else going on.

If you want, you can disable `go

[2015-12-09 14:02] laander commented on #50
@monfresh Thanks for reporting this. My best bet is that there's some global CSS styling on your page that in some way forces the `bookingjs-timekiticon` SVG move up to it's own line.

On the demo page (http://booking.timekit.io) this doesn't happen, see screenshot:
<img width="386" alt="screen shot 2015-12-09 at 14 59 31" src="https://cloud.githubusercontent.com/assets/222419/11687223/a8d6ba7e-9e

[2015-12-09 18:25] #49 closed

[2015-12-09 18:33] lenamtl commented on #47
+1

[2015-12-10 05:15] monfresh commented on #47
In the meantime, I'm using IFTTT as a workaround. I created a recipe that will send me an email whenever a Google calendar event is created. I created a new Google account that is only used for managing my bookings.

[2015-12-10 14:13] slateid commented on #47
@monfresh great idea. I have done the same.

[2015-12-10 16:23] riusi88 commented on #53
My quick workaround until this feature is implemented was duplicating existing fields in booking.js and renaming them appropriately, changing the input type to whatever I needed and following the correct syntax. The values for these new fields do get dropped in the response json object.

[2015-12-10 16:35] jacobrussell commented on #30
+1

[2015-12-10 23:49] jhanstra commented on #53
I used the same workaround as @riusi88. It would be nice to create unlimited custom booking fields in the future though without this workaround.

[2015-12-11 07:35] dheerajbhaskar opened #54 "Can we add reinder support?"
Can a reminder mail be sent or a webhook called for events?

[2015-12-12 03:19] monfresh commented on #52
Any thoughts on this? I just tested it on a live website with a domain name different from the one I used to register my widget, and I was able to embed the widget and create a booking.

[2015-12-12 04:15] monfresh commented on #51
I figured out the issue. I was wrong about setting `goToFirstEvent` to `false`. It's working as expected, which is that it defaults to today since that is what fullCalendar defaults to when `defaultDate` is not specified.

The issue when setting  `goToFirstEvent` to `true` is that it is basing its decision on the filters. As you can see in my original post, my filters started on Monday. Because of

[2015-12-22 16:03] alvinwoon opened #55 "Future cannot be more than 1 month?"
Is there a plan to extend this? For event planning services (wedding and etc), a further view of timeslots in the future is needed. Perhaps extend it to 6 months?

[2015-12-23 12:45] laander commented on #55
@alvinwoon Yes, we're currently working on improving performance for big result sets and I'll make an update here when we extend it :+1:

[2015-12-23 13:29] alvinwoon commented on #55
awesome. looking forward to it! Thanks.

[2015-12-23 20:52] laander commented on #54
@dheerajbhaskar Yup, we're currently working on some more powerful features for the "booking" oriented part of Timekit, which also includes reminders that are triggered with webhooks or by email. It's currently in internal alpha and i anticipate a release by the end of January/beginning of February.

I'll ping you when we have more news on it!

[2015-12-24 12:27] ChrisChinchilla commented on #53
Thirded. @riusi88 Are you saying that even though you add the fields and change the names, the values don't actually come to you in any way?

[2015-12-24 17:18] dheerajbhaskar commented on #54
Sure, please do let me know. Thanks for the update.

On Thu, Dec 24, 2015 at 2:22 AM Lasse Boisen Andersen <
notifications@github.com> wrote:

--
--- Disclaimer --- The information in this mail is confidential and is
intended solely for addressee. Access to this mail by anyone else is
unauthorised. Copying or further distribution beyond the original recipient
may be unlawful. Any opinion expressed

[2015-12-29 17:11] lightningthunder commented on #20
Looking forward to an easy way to integrate with any payment gateway too!

[2016-01-07 12:22] laander opened #57 "Malformed email leaves form in limbo state"
Problem where the a malformed email isn't caught by the frontend form validation and the API returns 422, leaving the form in limbo between loading and error state.

[2016-01-07 12:24] #50 closed

[2016-01-07 12:34] laander commented on #53
@riusi88 @jhanstra @ChrisChinchilla

The difficulty is deciding where the data should be saved. For now, we're simply passing all the form data to a calendar event and e.g. comment and phone number is saved in the event description (non-structured). It's really not optimal, but it works in the short run.

We're working on a new backend feature where bookings are their own first-class citizen, have

[2016-01-07 12:55] laander commented on #51
@monfresh Good catch! Actually, the intended result is achievable if you add the following setting
[code]
..as that will force the algorithm to do a sorting before returning the result. This *should* happen by default, but it doesn't right now, so we will be deploying a fix for this within today or tomorrow :+1: (in other words, just give us a day or two and everything should work as intended auto

[2016-01-07 14:37] laander commented on #55
@alvinwoon We've increased the max future to 6 months now :+1: Please give it a shot and let me know if you experience any severe performance degradation.

[2016-01-07 14:37] #55 closed

[2016-01-07 14:41] riusi88 commented on #53
@ChrisChinchilla
Sorry for the late response, but as @laander explains all the data get's dumped into the event description as line items. You can fetch this from createEventSuccessful: function(response){}

@laander
Thanks for the reply, and I appreciate you asking for our input!
Although this may be the hardest to implement, I would definitive like to query the form data for each field via the A

[2016-01-08 05:42] alvinwoon commented on #55
Thanks!

[2016-01-11 11:06] #57 closed

[2016-01-11 11:09] laander commented on #53
@riusi88
Makes good sense, thanks. If you want to get all the input fields from the form, you can also use the `submitBookingForm` callback as that gets an JS object with key/value pairs of all fields passed. It's however called when the user submits the form (and not when the API returns successful), but it might still work for you?

[2016-01-12 15:26] laander commented on #51
@monfresh
We've just updated the API so that `sort: "asc"` is the default behaviour when no sort key is provided. That should solve your problem - do let me know if that's not the case :+1:

[2016-01-12 15:26] #51 closed

[2016-01-13 03:36] monfresh commented on #51
Thanks, it's working great now!

[2016-01-19 14:47] laander opened #61 "Timeslot length should be selectable by the user"

[2016-01-20 07:24] ChrisChinchilla commented on #53
@laander @riusi88 Sorry, my late reply means I have forgotten what I was doing here.

So you're saying that if I add custom fields they are accessible somewhere, I just have to implement myself? That's fine with me!

The event description is fine for our uses right now, seperate items would be great for some sort of export, but not essential at the moment.

[2016-01-20 09:12] laander commented on #53
@ChrisChinchilla Jep, see the example [here](https://github.com/timekit-io/booking-js#example) and look at the callbacks section. The `submitBookingForm` callback is what you'll want.

We are working on a much improved release of our API that has native support for bookings with all customer data neatly organized. In that way, you'll be able to query our API and retrieve that (and in the near futu

[2016-01-20 12:01] laander opened #63 "Support for "composite" availability where anyone of x people are available"
The use-case is often for support, where users can book a team of e.g. 3 supporters. For a given time, only 1 supporter should be available in order to display the timeslot as bookable.

[2016-01-20 18:47] lawrence89 opened #65 "Today, Back, and Forth Buttons on Mobile View Do Not Work"
For some reason whenever I view the calendar on my mobile device, I cannot seem to click on the previous/next date buttons nor can I click the today button to see today's availabilities. However if I visit http://booking.timekit.io/ on my mobile device, those buttons are working fine. Anyone have any idea why its not working on my webpage?

[2016-01-20 22:56] lawrence89 commented on #65
After playing around css for a bit, I realized the issue was the bookjs-displayname div was laid over the buttons making it difficult to select the buttons. I just used cssed to make the width of the container smaller so the buttons are no longer blocked.

[2016-01-20 22:56] #65 closed

[2016-01-21 17:03] laander commented on #65
@lawrence89 Sorry for the late reply, but glad to hear you got it sorted out! Yeah, the div was overlapping the buttons a bit (about 30%) so some clicks/taps didn't make it through. I have a PR ready and will be fixing that in the next release :+1:

[2016-01-21 17:14] marcua commented on #63
I'd love this feature!

[2016-01-23 02:21] 262media commented on #20
Does anyone already had a successful integration with Stripe.js ?

[2016-01-24 16:05] haghadi opened #68 "Uncaught ReferenceError: data is not defined"
I'm getting this error on line:
 start:        data.start,      // Inserted from the chosen timeslot

Here is my code
<script type="text/javascript">
    window.timekitBookingConfig = {
      name: 'Dr. Nizar | Sharq Dental',
      email: 'haghadi@gmail.com',
      apiToken: '',
      calendar: '',
      avatar: '',
      showCredits: true, // Display a "Powered by Timekit" attribution footer (tha

[2016-01-25 11:44] laander commented on #68
Could you try and post your code again? It seems it got stripped out from your message.

It look like you're trying to configure the `timekitCreateEvent` with a custom start date. Be aware that the `start: data.start` from https://github.com/timekit-io/booking-js#timekit-create-event is merely an example of what is set dynamically inside Booking.js - if you want to override it, you'll have to set

[2016-01-25 11:46] haghadi commented on #68
Hey Lasse,

Thanks for the reply. Yes, I've excluded it. It's working now. Thanks!

On Mon, Jan 25, 2016 at 2:44 PM, Lasse Boisen Andersen <
notifications@github.com> wrote:

--

*Haris Aghadi*
Co-Founder, Meddy
e:haris@meddy.co | w:www.meddy.co
<http://t.sidekickopen36.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs5wLKFbW7dKKvF1qMyF6W7fZnDC56dxFyf4SwCYx02?t=http%3A%2F%2Flinkedin.com%2Fin%2Fha

[2016-01-27 14:20] #68 closed

[2016-01-29 21:17] alialkhatib commented on #61
I'm making this work by implementing a really hacky form that passes a time duration to the timekit filter. Passing the selection (or slider's value or whatever) to the configuration and reloading the calendar should allow the user to dictate the duration.

[2016-01-29 21:27] alialkhatib opened #69 "Timekit Filter Business hours customization?"
Maybe this is exposed already, but the documentation leaves me with some questions and maybe someone can clarify.

Some of the people I'm working with would like to describe their business hours as something like 10am-4pm (for example). This means differing from the timezone type of parameter that `business_hours` typically accepts, but other solutions don't seem to do what I'm looking for. Maybe

[2016-01-30 18:13] laander commented on #61
@alialkhatib Thanks for chiming in. Yeah, this is what we recommend too for the time being. As you're saying, the `length` parameter in Find Time can take any duration and as the booking.js config is all JS, you can simply pass it dynamically upon instantiation.

In the near future, I'm considering building a "pick a duration" dropdown into the widget, where visitors can pick from some predefined

[2016-01-30 18:48] laander commented on #69
@alialkhatib I'm not totally sure I understand your problem, but first of, the timezone flag for `business_hours` is completely optional. If you don't supply it, the calendar owner's timezone will be used (synced from Google or the one supplied on user creation).

The `specific_time` is properly what you're looking for if you want "custom" business hours. Just supply it like so: `{ "specific_time"

[2016-02-04 03:50] univers opened #70 "Previous and Next buttons don't work in mobile"
I have implemented the booking.js plugin and it is beautiful. Nice work. Works really well in PC.

I tested the implementation on mobile and I can't tap the previous and next to look at the following days.

Any ideas or remedies?

[2016-02-04 04:05] univers commented on #70
Alright upon further review the .fc-toolbar is being overlapped by the display name.

If you make the .fc-toolbar relative and add a z-index higher it resolves the conflict which is merely a css thing and not a js event issue.

`.fc .fc-toolbar {
                                position: relative !important;
                                z-index: 40 !important;
                        }`

[2016-02-04 10:41] laander commented on #70
@univers Thanks for reporting! I have a PR open that fixes that particular issue, see here: https://github.com/timekit-io/booking-js/pull/66

I'll get it released today :+1:

[2016-02-04 14:25] #19 closed

[2016-02-04 17:03] laander commented on #70
@univers Fix has been released. Thanks again.

[2016-02-04 17:03] #70 closed

[2016-02-04 17:07] laander opened #73 "Support recurring bookings/appointments for e.g. subscriptions"

[2016-02-04 17:08] laander commented on #39
Moving the feature request by @alialkhatib to it's own thread (https://github.com/timekit-io/booking-js/issues/73) and closing this

[2016-02-04 17:08] #39 closed

[2016-02-05 12:48] #69 closed

[2016-02-05 12:49] laander commented on #45
Closing this for now - too big task for v1

[2016-02-05 12:49] #45 closed

[2016-02-14 22:48] hughstephens opened #74 "Override default template strings"
Hi team

Have had a dig around, but is there a way to override the default strings in main.js?

https://github.com/timekit-io/booking-js/blob/f5205f4f505bdf09249fee630dccc6876d958ba2/src/main.js#L303

For example, we've noticed that a number of users think that booking.js is "broken" when it takes 15-30 seconds to complete the 'booking' action. If we could override the default booking button (for

[2016-02-15 00:17] pleasetrythisathome opened #75 "prefilled and locked values aren't submitted"
When prefilling and then locking values, undefined is submitted to the submitBookingForm callback

[2016-02-15 19:34] lawrence89 opened #76 "Time slot booked multiple times bug?"
I've notice that if two separate users happens to open up bookingjs calendar page at the same time, user A selects a time slot, and then user B selects the same time slot 2 minutes later, they end up both booking the same slot. Is there any way to prevent the second user from booking the same slot and give them an error message?

[2016-02-17 05:13] cameronjroe opened #77 "Did you have issues with loadFixtures()?"
I noticed you guys used karma with jasmine-jquery, I was just wondering if you happened to run into an issue where the fixtures won't load into Chrome because of a content privacy policy or something? Also, how did you get around it?

[2016-02-17 12:36] laander commented on #75
@pleasetrythisathome You're right, looking into this, thanks for reporting

[2016-02-17 14:25] #75 closed

[2016-02-18 07:51] laander commented on #77
Hi @cameronjroe, I don't recall any issues like that, but I did have some issues with it getting it to work in the first run. You can check the source and run it locally - perhaps that will give some insights.

Here's a quick walkthrough of what we do:

In my `karma.conf.js`, I have this:
[code]

In the fixture html file, I serve the lib locally:
`<script type="text/javascript" src="/base/dist/boo

[2016-02-18 12:39] laander commented on #74
Hey @hughstephens , we've just released v1.7.0 with support for customizable strings in e.g. submit button and success message. Please see this section: https://github.com/timekit-io/booking-js#--localization

We've also made some improvements to the Google sync, so submitting should only take 3-6 seconds now. If you still encounter slow response times, please ping me!

[2016-02-18 12:39] #74 closed

[2016-02-18 15:41] cameronjroe commented on #77
I see. I'm testing with a static site so unfortunately I needed to strip the script tag and just replace the document.body with the fixture instead. Also, it turns out there's a XMLHttpRequest deprecation for synchronous requests which means that fixtures don't load in latest version of Chrome. Got it work though - all good :+1:

[2016-02-18 15:41] #77 closed

[2016-02-18 21:59] pleasetrythisathome opened #81 "confirm_decline flow not working"
response
{"error":"Cannot apply action 'confirm' to current state 'initialized'"}

with options

[code]

[2016-02-18 23:01] vistik commented on #81
Hey @pleasetrythisathome
You need to apply the action `create` first. You can set it in the initial request like this: `action: create`. If this does not fix your problem let me know :)

- Visti

[2016-02-19 00:51] hughstephens commented on #74
Great, thanks @laander :)

[2016-02-19 08:27] laander commented on #81
@pleasetrythisathome Actually, if you just set `bookingGraph: 'confirm_decline'` in the root of the conf, that should handle it automatically. Settings passed to `timekitCreateBooking` is only if you want to override any of the default behaviour in that graph.

[2016-02-19 08:30] laander commented on #76
@lawrence89 Good question. Currently, event creation does not take existing events into account, only the findtime availability request does. We're considering adding a flag though that checks for overlapping events and throws an error if found.

I'll keep this issue open as a feature request until we have time to look at it.

[2016-02-19 08:36] laander commented on #75
@pleasetrythisathome Just making sure you know that the bug was fixed in release v1.7.0 :+1:

[2016-02-19 13:40] pleasetrythisathome commented on #75
got it thanks!

On Fri, Feb 19, 2016 at 3:36 AM Lasse Boisen Andersen <
notifications@github.com> wrote:

[2016-02-19 14:09] pleasetrythisathome commented on #81
hey guys, when i do either of the above i get "TimekitBooking Error: An error with Timekit createBooking occured, context: TypeError: Cannot read property 'event_info' of undefined".

Basically i just want the default behavior of the previous version, where a gcal invite is sent to both email addresses and the event is added to both calendars.

Do you have an example config? I'm a little unclear a

[2016-02-20 01:39] klerd opened #82 "Select availabilities with Google Calendar"
Right now, the bookings calendar only shows **empty slots** from google calendars. Is there a way to show only 'appointment slots' on the booking calendar instead? In other words, is it possible to **select**  our availability dates on Google Calendars and then only have that reflected as available slots on the booking calendar?

[2016-02-21 16:23] laander commented on #81
@pleasetrythisathome Could you try again? You're doing it right, a deploy went wrong and you apparently hit the API right between migrations. Sorry about that

[2016-02-22 10:17] laander commented on #82
Hi @klerd. There's no native way to achieve that right now. The easiest workaround is to modify the source so it fetches a calendar's events instead of findtime availability and simply output those timeslots in the widget. It should not be too hard to achieve, but you'll have to handle deleting the timeslots again when they are booked and become unavailable (through the API).

I'll keep this issue

[2016-02-23 20:18] AlexandraZS opened #84 "Invite confirmation"
Would it be possible to brand the confirmation email sent to participants? So, instead of the email containing the Timekit logo, could it contain my own logo? If not, would it be possible to remove the Timekit logo?

[2016-02-25 05:12] hughstephens opened #85 "Busted migration throwing event_info undefined"
Hi guys

Seems the migration you've made that is throwing this

`TimekitBooking Deprecated: config key "timekitCreateEvent" has been replaced, use "timekitCreateBooking" and see docs`

isn't backwards compatible. Even after I tried updating to

[code]

I'm still getting

`TimekitBooking Error: An error with Timekit createBooking occured, context: TypeError: Cannot read property 'event_info' of und

[2016-02-25 05:28] hughstephens commented on #85
Update: worked out it's because you've changed the response via the API on `createBookingSuccessful` to have an 'event' object. So sorry, not about createBooking object.

`createEventSuccessful` just throws the above error, but because you're calling booking first then we can still detect it and redirect the page. End-user still sees the red "x" briefly (and it logs the error) before we redirect t

[2016-02-25 11:39] laander commented on #85
@hughstephens Thanks for reporting. Actually, you were right in the first take, as we had some really weird intermittent problem where `attributes.event_info` wasn't returned successfully. After a redeploy, it's back to normal - we'll keep an eye on this for the future.

Could you check `createEventSuccessful` callback again? It should contain all the event details that we're posted, but if you wa

[2016-02-25 11:52] laander commented on #84
Hi @AlexandraZS, the free Timekit plan included the email as it is with no customizations. Our paid plans do however include webhooks, so you could setup Mandrill or Mailgun and send out custom emails on your own.

[2016-02-28 08:40] hughstephens commented on #84
Hi @laander are we able to disable it though (as in the email being sent)? From what I can see in the stage docs it isn't possible?

[2016-02-28 09:23] laander commented on #84
@hughstephens You can disable the emails. The setting to pass in the config is dependent on which graph you choose (`instant` vs. `confirm_decline`).

For `instant`, you can disable the emails like so:
[code]
For `confirm_decline`:

[code]

[2016-03-01 15:45] #85 closed

[2016-03-02 23:24] cyntss commented on #61
I agree. ATM i find myself implementing a terrible workaround to solve this. In my use case, the web site is for booking day care (8hs), dog sitting (24hs) or dog walking (1hs).
The user should be able to select the time slot starting from any point, plus, in the dog sitting case, the user should be able to pick as many days as wanted. I see a use case here as well for the other, where a user want

[2016-03-02 23:39] cyntss opened #86 "Multiple selection"
A use case is that users need to select multiple time slots in different dates, i.e.: every day at 11:30am get the delivery of my lunch... or i.e.: From the 1st of March till the 15th of march (counting entire days) I want to rent a car.

So, I would allow users to select on multiple "boxes", as well as implement a checkbox to switch from 1 hour slot to 1 day slot, and then they select the boxes.

[2016-03-04 02:11] phangjeff opened #87 "Calendar not updating availability with times from other calendars"
My calendar is allowing for the booking of times that are currently occupied by another included calendar.
Is this an issue on my end?

Please contact, willing to do a paid service if there is an option for some sort of support

[2016-03-04 06:53] alvinwoon opened #88 "Booking schedule missing in email confirmation"
The date is there (although formatting can be improved) but there's no time slot within the confirmation email.

![image](https://cloud.githubusercontent.com/assets/1026383/13520160/e497e76e-e218-11e5-9e5d-2ea333b429e0.png)

[2016-03-11 13:24] laander commented on #87
@phangjeff The widget should only show timeslots where there are no existing events in your calendars. If you're using our API directly, you should know that `[POST] /events` are **not ** checking for existing events. Also, after a booking has been made, another visitor with the widget open could potentially double-book the same timeslot (until they refresh the widget).

Does the above help clarif

[2016-03-11 13:27] laander commented on #86
Is this related to/the same as #73 ?

Selecting multiple timeslots is something we're considering, but it doesn't fall into the primary use-case of Booking.js which is for sales & support scenarios. We'll keep it in mind though, thanks for chiming in!

[2016-03-11 13:33] laander commented on #88
@alvinwoon Looks like some formatting has gone bonkers.

Are you supplying a custom `Timekit-OutputTimestampFormat` or `localization.emailTimeFormat`? If so, could you share it?

By default, it should output the following:
`Y-m-d ha (P e)`

[2016-03-12 05:11] alvinwoon commented on #88
@laander nope. This is the full config:

`window.timekitBookingConfig = {
      name: 'Coaching Session',
	  email: 'xxx@gmail.com',
      apiToken: 'xxx',
      calendar: 'xxx',
	  fullCalendar: {
        lang: 'en' // Specify the FullCalendar language shortname
      },
      timekitFindTime: {
     	length: '1 hour',
        future: '6 months',
        filters: {
          or: [
            { s

[2016-03-12 18:04] scottini commented on #87
There is a way to avoid this behavior? It happens only with API direct call or always?

[2016-03-14 08:21] alvinwoon commented on #88
Problem seems to be fixed now :+1:

[2016-03-14 08:49] scottini commented on #88
About date formatting... How to interpret these dates? There is a way to improve readability or otherwise change date formatting on confirmation masseges?

[2016-03-14 09:09] vistik commented on #88
Hi @scottini

You can see supported date formats here: https://developers.timekit.io/docs/types--formatting

[2016-03-14 09:34] scottini commented on #88
Hi @vistik
if you take a look at alvinwoon's picture, the dates don't seem to me as written in ordinary ISO 8601 format...
How do you interpret the "000000308" part? And why the start date and the end date are perfectly equal?
And most important: how can I pass formatting parameters for the auto-generated confirmation request message?

TX!

[2016-03-14 09:36] alvinwoon commented on #88
@scottini i think that was a bug, not the default. Without setting any format, it should display nicely. Like this:
![image](https://cloud.githubusercontent.com/assets/1026383/13740361/528fb98c-ea0b-11e5-935c-820f9541458d.png)

[2016-03-14 09:46] scottini commented on #88
Same here...

![schermata 2016-03-14 alle 10 40 28](https://cloud.githubusercontent.com/assets/2796426/13740607/04d98c92-e9d2-11e5-894c-aaddf2ccd594.jpg)

@laander : it's better to open another bug ticket?

[2016-03-14 09:50] alvinwoon commented on #88
Interesting!. I will reopen it for you then. Probably be helpful if you paste the entire embed codes.

[2016-03-14 09:54] laander commented on #88
@scottini @alvinwoon In the code example, you've set:
[code]
This is not correct (sorry if the docs are unclear on that). The `timeDateFormat` only takes the following three values:
- `12h-mdy-sun`
- `24h-dmy-mon`
- `false`

Internally, it's used to "preset" localization settings across the widget. You can see the source here: https://github.com/timekit-io/booking-js/blob/master/src/defaults.js

I

[2016-03-14 09:57] alvinwoon commented on #88
yep. after i remove localization everything is alright.

[2016-03-14 09:58] laander commented on #87
@scottini We're considering adding a check upon event creation that makes sure an event is not present in the same timeframe, but is hasn't been developed yet.

There is another issue on this, #76 - throw a comment in there and we'll consider it for the next sprint

[2016-03-14 10:13] scottini commented on #88
... not for me!
Here the printscreen:
![schermata 2016-03-14 alle 11 02 32 copia](https://cloud.githubusercontent.com/assets/2796426/13741107/a927bf56-e9d4-11e5-9625-18b522be5223.png)

How can I embed my code? If I insert it between 2 small apex \`\` from the top menu, the preview result is a mess...

[2016-03-14 10:16] scottini commented on #76
+1
please consider this feature request ;)

[2016-03-14 10:23] vistik commented on #88
I think you should use 3 of these ` to make it able to handle multiple lines

[2016-03-14 10:24] scottini commented on #87
done!

[2016-03-14 10:33] scottini commented on #88
I've tried with 3 \` in front and also inserting the code between two series of 3 \`, but it shows always nothing...

[2016-03-14 10:34] vistik commented on #88
could you try to make a gist then?

[2016-03-14 10:41] #87 closed

[2016-03-14 10:49] scottini commented on #88
Yes! I'm an absolute beginner, until two minutes ago I did not know what a gist was...

https://gist.github.com/scottini/049a9c6f904944f6cd6c

[2016-03-14 11:01] vistik commented on #88
@scottini  You have set
[code]
This is not correct (sorry if the docs are unclear on that). The `timeDateFormat` only takes the following three values:
- `12h-mdy-sun`
- `24h-dmy-mon`
- `false`

[2016-03-14 11:08] scottini opened #89 "antispam check"
I suggest to insert a forced antispam check: when somebody book for an appointment, the system send a confirmation request email TO THEM. If they confirm, the usual path begins (with the 2 possibilities, confirm_decline or instant).
I think that would be a small improvement against spam bookings...

[2016-03-14 11:27] scottini commented on #88
Sorry, I've badly interpreted laander's suggestion. Before his post, my timeDateFormat was false.
Now I've set it to 24h-dmy-mon, and everything works.
Thanks!

[2016-03-14 13:05] vistik commented on #88
perfect :)

[2016-03-14 13:05] #88 closed

[2016-03-17 06:06] hughstephens commented on #76
+1. Frustrating that it doesn't do this already, as we have a few users who will leave a tab / window open for a while before booking.

[2016-03-17 09:10] laander commented on #76
@hughstephens @scottini @lawrence89 We're working on this right now, expect a release by the beginning of next week.

[2016-03-17 10:37] hughstephens commented on #76
Great, thanks @laander :)

[2016-03-21 13:15] GlennVanSchil commented on #86
I have a need for the same functionality, but in a different use case. My time interval is 30 minutes, but an appointment can take up to 1:30h so I need to able to select 3 slots next to each other.

[2016-03-23 21:45] zerosicks opened #90 "All bookings end up on primary Google Calendar, despite configuration"
I'm using booking.js with a google account, and regardless of how I configure it, it only uses my primary google calendar to `findTime` and `createBooking`.

I'm not even sure this is an issue with Timekit, as the API tells me the bookings were created on the correct calendar. When I go into my google calendar however, all created bookings are just on my default google calendar.

As a test, I chan

[2016-03-24 18:13] isleshocky77 commented on #73
I would like recurring events follow the iCal standard which allows for types of recurring (daily, weekly, etc), ranges (start, end), days (m,w,t), and exceptions

https://tools.ietf.org/html/rfc5545#section-3.8.5

I believe this Feature issue is more for timekit.io's API than booking.js

[2016-03-26 08:08] alvinwoon commented on #84
Just to confirm, we have to pay $599/month to get webhook access? I suppose there's no way to modify the email template with the $99 plan?

[2016-03-28 17:28] lawrence89 commented on #30
+1

[2016-03-31 11:46] laander commented on #90
Hi @sickslives, as far as i understand, the problem is two-fold:
1) Availability is found from the default calendar although a specific one has been chosen
2) Bookings end up in the wrong Google calendar although the API shows correct calendar

Let's start with 1)
The `timekitFindTime` config key can take the same settings as documented here https://developers.timekit.io/docs/findtime and you made

[2016-03-31 18:19] sickslives commented on #90
Hi @laander, thanks for the response!

While this problem is certainly manifesting in a two-foldly manner, I believe their root cause is the same.

I went ahead and simplified my config and corrected the typo:
[code]
This loads the widget with no errors and displays availability from my default google calendar, not my desired calendar.

If I add `emails: []` to my config as you suggest, `timekitFi

[2016-04-03 02:33] gusreyes01 opened #91 "Support for confirmation emails in different languages"
I think there should be a setting so confirmation emails are sent in different languages (In my case Spanish) however a setting so they can be overriden and/or disabled in order to use my own email backend could work as well.

[2016-04-06 20:41] mikegcox opened #92 "Cannot have a one-hour lunch break when 'length" is set to more than one hour"
If you look at the code below, you can see I want three hour appointments and I want a one hour lunch break.  What I end up with is my first appointment starting at 9AM and ending at 12PM (perfect) but my second appointment does not start until 3PM and goes to 6PM.  I want the appointment to start at 1PM and end at 4PM.

[code]

[2016-04-07 23:08] sbiefeni opened #93 "How to add custom fields?"
I would like to add more custom fields to the booking form.. Is there any way to do this?

[2016-04-07 23:15] sbiefeni commented on #53
I tried adding fields in the bookingfields, but the fields do not show up on the resulting form. could someone give me an example of how you accomplished this?

[2016-04-08 06:15] Jaamie commented on #76
Hey, just wanted to see if this was released/fixed? I'm having the same problem. :) @laander

[2016-04-08 06:57] laander commented on #93
Hi @sbiefeni, currently we only support a fixed set of fields, see here: https://github.com/timekit-io/booking-js#--bookingfields
Which would you like in addition to those?

[2016-04-08 17:18] sbiefeni commented on #93
Hi Lasse,

I am setting up a consultation booking page for a client, and your widget
is ideal, however my client really needs to be able to have a few custom
fields to get some preliminary information for the consultation.. I can see
that the use-case for this should be very common and necessary. I also
observed several forum requests asking for the same. I saw that some were
able to customize fie

[2016-04-08 21:55] sbiefeni opened #94 "Event added to wrong Calendar, and booking.js does not refresh when event deleted"
I created a calendar just for my booking.js script.. however when adding events they get added to my default calendar instead.
When I create or delete events on my google calendar, the booking.js widget is not updated.. until I book a new time in the widget, then it seems to refresh.. how can we force the calendar to refresh?

[2016-04-11 09:56] laander commented on #94
Hi @sbiefeni , we sync events from your Google calendar every 2 hours, so it's not totally realtime. We're working on improving this continually though with instant sync coming within the next months!

[2016-04-13 08:08] FritzH321 commented on #30
+1

[2016-04-13 13:59] laander commented on #89
@scottini Thanks for the input, good idea 👍  We'll take it into consideration

[2016-04-13 14:21] laander commented on #91
@gusreyes01 Good idea. Multi-language support in the widget is pretty far, but the emails could use some settings. Added to feature request roadmap 👍

[2016-04-13 14:24] laander commented on #92
Hi @mikegcox we're aware of a bug with the availability engine that sometimes leaves some unintended free spots when using back-to-back filters. My best suggestion meanwhile is to either increase the availability frame or decrease the timeslot duration to allow more "breathing room".

[2016-04-13 14:25] laander commented on #93
@sbiefeni Could you list the fields (name and type) you'd like supported? It would allow us to focus in on the use-case and as a first step add more fields you can enable/disable (with true custom fields coming in the future)

[2016-04-13 14:26] laander commented on #93
Note: duplicate of #53

[2016-04-13 14:26] #94 closed

[2016-04-13 14:30] mikegcox commented on #92
Okay, thanks. That is indeed what I did in the end. Thanks for the great script.

[2016-04-13 14:40] #92 closed

[2016-04-14 00:35] sbiefeni commented on #93
It doesn't make sense to have more pre-defined fields.. each use case will be different. In my last site, I needed to ask appointment specific questions - which Sutton Office are you Located In,  Are you interested in buying or selling, etc. As you see the only thing that makes sense is custom text fields, which all get added to the calendar "Description" field.

[2016-04-18 18:53] gusreyes01 commented on #91
Thanks, looking forward to it!

[2016-04-19 07:03] hughstephens commented on #85
Hi @laander getting this again – we had to change the code above to match what I presume is a new response (now `response.config.data.event.start` – data is in config object while response.data is now just contextual info). Same problem - throws 'event_info' undefined.

Has something changed on your side API wise?

[2016-05-21 15:36] Vadorequest opened #103 "Enable click on submit button once we display a "success""
It is not possible to click on the submit button once we have successfully added a new booking.

![image](https://cloud.githubusercontent.com/assets/3807458/15449320/7d0a65be-1f7a-11e6-90fb-854cdcded7e7.png)

It would be nice to be able to click on it, instead of closing or pressing ESC.

[2016-05-23 12:30] laander commented on #81
@pleasetrythisathome We've tested it and we found it to be resolved, closing issue. Please re-open if you still encounter any problems

[2016-05-23 12:30] #81 closed

[2016-05-23 12:33] laander commented on #103
@Vadorequest Great suggestion! Would you prefer simply a setting like `closeFormOnSuccessButtonClick = true/false` or a callback you can hook into (for custom redirects etc)?

[2016-05-23 19:21] Vadorequest commented on #103
I think the setting is a good idea. Default behavior should close the popup.
A custom function would be useful for many use cases as well :)

So, we would have a `closeFormOnSuccessButtonClick: 'true|false|Function'` possible values.

[2016-05-23 19:32] Vadorequest opened #104 "New duration values + Monthly calendar view"
I'd like to get two new possible duration values:

1. `24h` (a full day, from 00h00 to 00h00)
2. A `range`, which is probably harder to integrate. But basically would allow the end-user to *select its start and end datetime*.

Related to that, I think it would be good to have a `month` calendar view.

- When the duration is set to `[1h, 12h]`, we automatically select the `week` calendar view.
- Wh

[2016-05-25 13:15] laander commented on #104
@Vadorequest Thanks for the suggestion. The full day event is probably where we will start as it's a smaller addition than the time ranges. I'll keep this issue open and will update when I have more information on the subject

[2016-05-25 17:41] Vadorequest commented on #104
Yeah, that's what I thought too. Good to know!
Thanks!

[2016-05-25 22:16] sickslives commented on #90
Hi @laander, did you ever get a chance to look into this? We got around this originally by creating a separate google account per calendar, but we're running into more and more use cases where we'd like multiple calendars on the same google account.

[2016-05-26 11:11] laander commented on #90
@zerosicks We actually deployed a fix recently that changes how bookings are saved in Google calendars. Before, the host were invited as a participant (using the email) on the event which resulted in the event also being saved in the primary calendar regardless. Now, the event is only saved on the specified calendar (the `calendar` key in the root if the config).
Could you test it again?

We're cu

[2016-05-26 16:12] laander commented on #90
Btw if you're not loading booking.js from our CDN, make sure to update to `v.1.8.1` as that contains the fix 👍

[2016-05-27 02:24] zerosicks commented on #90
Thanks @laander,
I am using the CDN, and the bookings now at least appear on the correct calendar. It seems however that now when I try to book bookings on that calendar it appears to fail, I still get the invite and a calendar appointment is created, but that spot doesn't get blocked out by `findTime`. That's another issue though so I'll close this.

[2016-05-27 02:24] #90 closed

[2016-05-27 11:22] laander commented on #90
@zerosicks Glad the main problem got fixed! Do know that read-only calendars cannot be saved to and will throw an error. We're making some changes that will make this more obvious.

Could you write me on our Intercom chat in the admin panel (logging with the user you're having trouble with), then I can help you debug further 👍

[2016-05-27 16:07] mtt87 opened #106 "Multiple event slots - expose method showBookingPage() ?"
I'm trying to implement a multiple slot booking.
![screen shot 2016-05-27 at 17 02 45](https://cloud.githubusercontent.com/assets/2150927/15613814/593d8294-242d-11e6-8505-55622e3efc07.png)

I can use the `eventClick` handle of fullCalendar to select multiple event slots

[code]

But then I'm unable to call showBookingPage() since the method is not exposed.
https://github.com/timekit-io/booking-js/

[2016-05-28 11:06] laander commented on #106
@mtt87 That's a quite interesting feature! :)

We actually had a quite a few requests for something related to this. In general, I see 2 different ways to achieve this:

1) Visitors are able to select multiple slots in the same view, just like you're proposing.
  One question arise though: what should happen when you click (currently non-existing) "Continue" button; would a single form be shown th

[2016-06-01 18:17] mtt87 commented on #106
First of all method exposed:
https://github.com/techhubdotcom/booking-js/commit/b72afd3f0e30758559c0ea3723e1da4ae7821491

I went for 1) as my use case is simpler:
- You can only make 1 booking
- You have to select consecutive time slots, you can't book at 10:30 and then at 14:30, they need to be 2 separate bookings
For these reason I'm writing some code to prevent people from selecting slots that

[2016-06-09 19:16] yangmillstheory opened #108 "Breaks on CommonJS/Browserified builds"
Since this package is hosted on NPM, developers expect to be able to plug this in to a Browserified or CommonJS build.

[code]

This is from NPM-installing your package and importing it in a browserified app.

Since jQuery is a dependency, could you please include in package.json and find a way to make it work with Browserify?

[2016-06-13 10:33] taksunil opened #109 "New User Registration"
This integration is only for those are already on timekit what about the people who'r new to my site and want to create new account on my page rather than timekit sooo can u please tell me how a new user create account on my website for scheduling meeting through timekit

[2016-06-13 10:33] taksunil opened #110 "New User Registration"
This integration is only for those are already on timekit what about the people who'r new to my site and want to create new account on my page rather than timekit sooo can u please tell me how a new user create account on my website for scheduling meeting through timekit

[2016-06-13 11:30] laander commented on #110
Hi @taksunil, after you create a developer account on Timekit.io, you can create new users by calling our API endpoint which returns an API token. Your users doesn't have to know about Timekit - you can handle all the Timekit integration through our API.

Please see this guide http://developers.timekit.io/docs/guide-connect-and-setup-google-user

[2016-06-13 12:17] taksunil commented on #110
Thanks

---- On Mon, 13 Jun 2016 17:00:47 +0530 Lasse Boisen Andersen &lt;notifications@github.com&gt; wrote ----

Hi @taksunil, after you create a developer account on Timekit.io, you can create new users by calling our API endpoint which returns an API token. Your users doesn't have to know about Timekit - you can handle all the Timekit integration through our API.
 Please see this guide http://

[2016-06-13 20:26] #110 closed

[2016-06-13 20:26] #109 closed

[2016-06-22 13:54] laander commented on #108
@yangmillstheory I've been trying to get it to work properly with other Browserify/Webpack builds, but I'm having trouble.

As jQuery is registered as an "external" dependency, it's isolated from the bundle and expects a `window.jQuery` to be available on load. It works fine if we use jQuery from a cdn with the `<script>` tag, but I can't get it to load if I'm requiting jQuery in a browserify buil

[2016-06-22 14:00] laander commented on #106
Hey @mtt87!

Have you made any progress on his?

Although i like your approach, I feel it's somewhat hacky and will take some new UI elements (a "continue" button) to get to work properly. The main advantage though is that it enables more granular selection because FindTime only returns timeslots in sequential blocks.

I'm still considering going with option 2) as it re-uses FindTime and can be ma

[2016-06-22 14:50] mtt87 commented on #106
Hey @laander I've basically built it 😄
![screen shot 2016-06-22 at 15 46 18](https://cloud.githubusercontent.com/assets/2150927/16271088/81761178-3890-11e6-81dc-70b64b64c7b6.png)

Have a look (test url):
http://th-bookings.s3-website-eu-west-1.amazonaws.com/#book/?room_id=4eDwdJdB4Qg6g8WCcwucAs

Quick question how can I add more fields that will be shown in the confirmation page?
![screen shot 201

[2016-06-22 16:07] laander commented on #106
Good stuff man! :)

That's actually really functional, great job.

I've played around with another approach where you select/click-and-drag timeranges instead, see a small demo here: https://www.dropbox.com/sc/xigsbwssznvoz3a/AADOnYbSdbu7J15ZpgpNIVFha
It still need some work on the backend to be workable (FindTime should basicially "invert" the resulting availability), but it's MVP.

And there's s

[2016-06-22 16:11] mtt87 commented on #106
In my use case I was looking to add `duration` and `amount` so people can confirm they are happy with that.

I'm happy to create a PR but I have the feeling this is something mostly related to our use case

[2016-06-24 23:44] zerosicks commented on #93
+1

[2016-06-27 09:15] laander commented on #93
Closing this to keep discussion in #53

[2016-06-27 09:15] #93 closed

[2016-06-28 10:10] taksunil opened #111 "how to manage booking between 9 to 5 (office timing) only??"

[2016-06-28 15:38] laander commented on #111
Hi @taksunil,

You can use the FindTime filters to restrict the availability range, in particular `specific_time` one. See the docs: http://developers.timekit.io/docs/find-time-filters

Here's how you add them to your booking.js configuration: https://github.com/timekit-io/booking-js#--timekitfindtime

[2016-06-29 06:34] taksunil commented on #111
Thanks laander :)

[2016-06-29 06:34] #111 closed

[2016-08-24 19:09] snoward commented on #46
How to fix the bug?

[2016-08-24 19:37] laander commented on #46
@snoward This only happens if the width of the parent/container is not fully known at the time of initialization. It is a bit tricky to get right though, especially in SPA or JS heavy web applications, but play around with a delay (`setTimeout`) or alike before you render booking.js

[2016-08-25 04:52] javenosa commented on #86
+1

[2016-08-29 15:47] korymcandrew opened #112 "Add the Ability to Style and Add Text to Booked Timeslots"
From what we can tell the booked timeslots are represented by the absence of HTML rather than an HTML slot that is styled to disappear and/or display nothing.  It would be nice to have the ability to style booked timeslots via CSS and it would also be nice to add localized text to a booked slot (e.g. "Not Available").

[2016-09-11 01:57] freemind- commented on #63
@laander I think this is already supported by the bulk feature? https://developers.timekit.io/docs/findtimebulk I think we can actually display the timeslots but this isnt possible to book the available calandar. RIght?

[2016-09-11 20:47] freemind- commented on #63
+1

[2016-09-14 07:45] laander commented on #112
@korymcandrew That's not a bad idea. It however quite difficult to accomplish right now because the `POST /findtime` endpoint that provides availability, only return timeslots that are not booked yet/available. Using `GET /bookings`, you can however retrieve existing bookings, so with a hack it could probably be implemented.

[2016-10-21 13:51] NKnusperer opened #116 "Does the widget work without a timekit.io account?"
Can I provide my own data source or is it only possible trough a paid account?

[2016-10-21 15:58] laander commented on #116
@NKnusperer You'll need a Timekit account to use booking.js.. we're currently offering 30 days free trial for our paid plans and will introduce a free tier in the near future (cant really disclose any more info yet) 😄

[2016-10-24 18:59] korymcandrew opened #117 "Single Day View on Mobile is Stuck on Today's View"
When using the widget on mobile device resolutions it shrinks down to the single day view, which it should, however the two arrows for going forward and backwards are disabled, effectively making you stuck on the current day.

![timekit](https://cloud.githubusercontent.com/assets/9453076/19659515/48692c82-99fa-11e6-9605-dafb35d02388.png)

[2016-10-27 13:47] korymcandrew commented on #117
A quick note: you can fix this by firing the following jquery after the page has loaded:
$(".is-small").removeClass("is-small");

I'm not sure if they will have an effect on anything else, but it at least allowed us to solve the issue until we hear back from the Timekit team.

[2016-10-28 15:54] laander commented on #117
@korymcandrew Thanks for reporting!! You are right, this only happens if a displayName is shown and with no avatar chosen. I've made a PR that fixes this and expect to release it on monday (#119)

[2016-10-28 15:54] #116 closed

[2016-10-28 15:59] korymcandrew commented on #117
Great, thanks for the quick turnaround!

[2016-10-28 16:10] #117 closed

[2016-10-28 16:14] laander commented on #117
@korymcandrew Just released it now. Happy fridays 🎉

[2016-10-28 16:16] laander commented on #108
@yangmillstheory I took another stab at it, think It's fixed now. See https://github.com/timekit-io/booking-js/pull/118 for details.
If it's still relevant to you, could you give it another shot?

[2016-10-28 16:51] korymcandrew commented on #117
I have confirmed the new build fixes the issue.  Thanks again!

[2016-10-30 12:42] korymcandrew opened #120 "Removing Video Call Link and Invitee Phone Number from Google Calendar Invitation"
If you refer to the yellow squares in the attached screenshot, we currently have two issues:
1) The Phone number of the person being invited is being displayed in the invitation and
2) The Video Call link is being displayed even though we have not specified one.

Is there a way to remove these?

<img width="579" alt="timekit_invitation" src="https://cloud.githubusercontent.com/assets/9453076/19836

[2016-11-01 10:38] laander commented on #120
@korymcandrew
The customer phone number is added because you're passing the data when creating in the booking (in the `event.description` field). If you're using booking.js, it happens automatically when you enable the `phone` field. The `voip` + `phone` + `comment` fields are saved in the event description automatically so we can easily show it directly in Google calendar. How would you expect it

[2016-11-01 17:48] korymcandrew commented on #120
Thanks laander, you led me to a solution for my first issue.  We simply now pass in a real description for the event which prevents the display of the invitee phone number in that section of the invitation.

For the Hangouts link, okay, we can live with it for now.  Can we keep this ticket alive for that as a feature request or would you like me to create a new one?

Thanks in advance.

[2016-11-08 12:50] neoshruthi opened #121 ""Calendar / UI widget not working in Mobile""
I have facing an issue in mobile,i have configured the booking.js widget but its showing only empty time-slot.Due to empty time-slot we unable to click an booking event.

[2016-11-09 10:37] vistik commented on #121
hi @neoshruthi

I'm not sure that the issue is? Could you send me a link or a screenshot of the issue?

Visti

[2016-11-09 14:18] korymcandrew opened #122 "findtime request with multiple calendars looks at single calendar"
It appears like the calendarId is not being taken into account when the findtime request occurs.  We have two calendars associated to the same google account.  When we display the bookingjs widget for either calendar, the same slots are returned.  For example, we book an event on calendar 1.  We then open calendar 2.  The slot that was booked in calendar 1 appears as booked on calendar 2.

Examini

[2016-11-09 14:28] vistik commented on #122
hi @korymcandrew Could you write on our intercom chat on timekit.io? just reference this issue

[2016-11-11 13:39] #122 closed

[2016-11-28 13:59] #108 closed

[2016-12-04 17:55] korymcandrew opened #123 "Booking Widget Produces Extra Timeslot on Mobile"
We currently have our business hours set to 8:00 to 16:00 EST and we use 15min timeslots. On desktop the last available timeslot available on any day is 3:45pm EST which is correct. However, on Mobile, there is one additional slot, from 4pm EST to 4:15pm EST. We do not conditionally change hours in our initialization code for our booking widget.

[2016-12-07 19:21] korymcandrew opened #124 "Feature Request: Add More Input Validation Options to Booking Fields"
Some additional input validations that would be useful would be:
1) Max. Length
2) Min. Length
3) Pattern (which would be helpful for things like phone number)

[2016-12-08 17:29] korymcandrew commented on #123
A follow up to this: we have investigated the requests and responses on both mobile and desktop and they are the same, which are both incorrect as they indicate 4pm EST to 4:15pm is an available timeslot.  The desktop version does not display this timeslot, which makes the display correct, however, the mobile version does display this slot, which makes the display incorrect.

[2016-12-16 21:26] jacoor commented on #76
Hello @laander :-)
Can you let us know what is the state of the issue? I just managed to create an overlapping booking.

Thanks!

[2016-12-22 17:11] ArtursO opened #126 "Calendar Sync Issue"
Hey @laander we have a booking widget under the account rahul@anant.us and the calendar sync isn't occurring automatically even though under the "Connection Status" section found in the Sync Tab it states "Your account is being automatically synced". I went in today to check and the last sync had occurred a few months ago, I then manually synced today. Do you have any ideas why this might be occur

[2016-12-22 17:14] ArtursO opened #127 "Feature Request: CC another email account on a new booking"
If there's a new booking, it'd be useful if you could add other emails to which the booking notification goes to. For example, if you have a specific user who takes care of confirming all bookings but isn't the actual person with whom the meeting is scheduled, it'd be good if they were looped in on the email as well.

Thanks by the way for this project, I've seen few (or none) booking UIs as simpl

[2016-12-23 13:04] laander commented on #127
Hi @ArtursO please write us a message through Intercom live chat on https://admin.timekit.io , then I'll help you from there :)

[2016-12-23 13:05] laander commented on #126
Hi @ArtursO please write us a message through Intercom live chat on https://admin.timekit.io , then I'll help you from there :)

[2016-12-23 13:05] #126 closed

[2017-01-06 18:02] Routhinator opened #128 "Allow form to be presented before calendar"
We'd like to force users to fill out the form before they are able to pick a timeslot, but it does not seem to be an option with Booking.js currently.

Have I missed something? Or can we mark this as a feature request?

[2017-02-03 10:33] #121 closed

[2017-02-03 10:37] laander commented on #128
@Routhinator You're correct, it's not currently supported unfortunately. I've added the feature request label to this post :)

[2017-02-23 17:51] korymcandrew commented on #123
This issue has been fixed by the Timekit team on 23 February 2017.

[2017-02-23 17:51] #123 closed

[2017-02-26 03:34] siruguri commented on #84
I could disable the event calendar invite, via `event: {invite: false}` inside `timekitCreateBooking` but I can't disable the notification. Adding in the following:

[code]

causes a 403 error that reads

[code]

[2017-03-06 12:27] sickrandir commented on #46
I can confirm to have experienced this bug. I use the calendar in a hidden div and call render on the widget when the div becomes visible. I had to set a small timeout of 500 ms before calling render. That fixed it

[2017-03-09 07:02] hughstephens opened #131 "Create booking failed - start not defined, but it is?"
Getting this error when creating an event. As you can see in the object logline, start is definitely included in the event, but it's throwing an error saying it's not? Can provide IDs etc if you'd like
![timekit](https://cloud.githubusercontent.com/assets/1327182/23739386/923c74dc-04f2-11e7-8ff2-53b77fa6264f.jpg)

[2017-03-09 09:41] laander commented on #131
@hughstephens Thanks for reaching out!
This was actually a small bug that we by mistake introduced a few days but fixed immediately after.

Unfortunately, a deployment hiccup meant that it wasn't published correctly to all edge CDN servers. I've just redeployed it now and if you're either using our OOTB solution or are pulling the library directly from https://cdn.timekit.io/booking-js/v1/booking.

[2017-03-09 09:41] laander commented on #131
I'll wait for your confirmation before closing the issue 👍

[2017-03-16 00:53] hughstephens commented on #131
Hi @laander we're still getting these happening. Using https://cdn.timekit.io/booking-js/v1/booking.min.js to grab the script, but we're getting ongoing reports from customers (who won't be using a cached file I imagine…) who are telling us it's giving the "red shaking" (their words) when booking, but still booking through.

Is there something I'm missing? I can provide you steps to repro in our e

[2017-03-18 08:22] azerusDE opened #134 "Support for jQuery 3.1.x/3.2.x+"
I use jQuery 3.1.1 on my site. So, unfortunately i can't integrate the widget, because it does not work with jQuery 3.1.x or 3.2.x - please add support for this.

I've tested this with the share code for the widget and have increased the version to jQuery 3.1.1.

[2017-03-19 23:17] hughstephens commented on #131
@laander just following up here? If you recommend that we self-host `booking.min.js` to avoid it being cached or something we can, just need your guidance

[2017-03-20 14:41] laander commented on #131
@hughstephens I'm sorry about that. Could you contact us on Intercom (through the chat on admin.timekit.io) with reproducible steps and some more information about users/apps/bookings that might be affected?

[2017-03-22 01:15] hughstephens commented on #131
@laander definitely still occurring with all of our users. I have just pegged us to the latest booking.min.js (by serving it locally) and ensured that all users are using the new instantiation method (we had some that were using the old one where you needed an API key and calendar param). Have started an intercom chat with examples – we are also having GCal sync issues for some of the users.

[2017-03-22 01:28] hughstephens commented on #131
Copying in the JS we use for instantiation here as well:

[code]

[2017-03-27 14:26] laander commented on #131
@hughstephens I've replied to our thread on Intercom; pretty sure I've found the culprit. Hope you see it soon!

[2017-05-03 10:38] janneleppanen opened #142 "Team Availability example throws an error"
team-availability.htm example throws a following error:
[code]

Seems to be caused because items in `config.timekitFindTimeTeam.users` doesn't contain property `_email`.

Can you preproduce the error, or does it look like I have missed something? Thanks. :)

[2017-05-04 12:57] laander commented on #142
@janneleppanen Thanks for letting us know! I've fixed the example now in the latest release.

Note that you need to enter your own emails/apitoken/calendar for your own users in order for it to work (the default is just for example purposes)

[2017-05-04 13:00] #131 closed

[2017-05-08 10:55] tezukzai commented on #86
+1

[2017-05-08 12:18] laander commented on #86
@cyntss @GlennVanSchil @javenosa @tezukzai
Although the widget doesn't natively support dynamic durations, you can achieve this yourself quite easily with a bit of wrapper code.

Here's a live demo: http://cdn.rawgit.com/timekit-io/booking-js/7061697e/examples/selectable-length.htm (do note that widgets doesn't load with data because they use a demo app)

Here's the source code: https://github.com

[2017-05-16 11:18] cyntss commented on #86
@laander I think it is a good workaround for the different time slots length, but it still doesn't fix the main issue: multiple selections.

[2017-05-29 20:36] patadv commented on #30
+1

[2017-06-08 00:25] chuckhacker opened #147 "Suggested Google jQuery CDN is blocked in China"
Billions of people live in China and webmasters often wish to target this massive emergent market, yadda yadda.

Google CDN, as you know, is blocked by the Great Firewall of China.

May I suggest using Amazon as well for jQuery (since you are already using Amazon to host your booking-js and Amazon is not blocked by the firewall)?

[2017-06-08 12:24] laander commented on #147
That's a good point. Although we by default reference the Google CDN, you're free to use Amazon or whichever CDN you want yourself (until we get the default changed) 👍

[2017-06-09 01:36] chuckhacker opened #148 "availabilityView setting ignored, only showing day"
Upon load, the view being shown is not correct, it looks like it is showing "day" instead of week" despite setting to `availabilityView` to `'agendaWeek'` as shown.

Here is my config:

[code]

For my use case, we need to show the week because our classes we are hosting are scheduled on a weekly basis.

Screenshot showing problem:
https://i.imgur.com/UGLKPXg.png

Sometimes, we noticed, that much l

[2017-06-09 01:59] chuckhacker commented on #148
If it helps, here is our site, which has the issue:

https://block.school/

Note that oddly enough, our other pages work (show the current "week" view instead of "day" view):

https://block.school/pricing
https://block.school/parent-demo

Thank you so much for looking into this for me!

[2017-06-27 13:21] Trolzie opened #149 "IE - 11 not supported"
IE11 does not support `Promise`, and so it fails.

current workaround is a polyfill before you load booking-js

The polyfill will be added in the future

[2017-09-15 02:53] tomFelder commented on #30
+1

[2017-09-25 14:08] laander commented on #149
Was fixed in this PR: https://github.com/timekit-io/booking-js/pull/153

Closing issue

[2017-09-25 14:08] #149 closed

[2017-10-23 19:04] kinesii opened #168 "Documentation clarification on supported graph flows"
The readme says:

But in https://github.com/timekit-io/booking-js/blob/master/examples/group-bookings.htm

I see: `bookingGraph: 'group_customer'`

Has graph flow support changed? As I would like to use `group_owner`

[2017-11-02 12:16] curlywurlycraig commented on #148
Hi @chuckhacker I know this is late but I think I might know why this is. The correct view will show on resize. It's likely that when your calendar first initialises it has a width less than 480 (https://github.com/timekit-io/booking-js/blob/master/src/main.js#L382), so it is being set to the day view. I had this problem and it was because I was only displaying the calendar when a button was click

[2017-11-02 12:20] curlywurlycraig commented on #148
You can fix it by setting the width of your `targetEl` (default `#bookingjs`) to be more than 0 within your css.

[2017-11-07 23:57] biplovdahal opened #169 "How can I use the widget to update a booking event instead of creating an event?"
Right now; when I render the calendar it always seems to be calling .createBooking; instead I want to updateBooking using the same flow; I'd just need to be able to pass in the event ID; and update the booking start and end_time based on new event start and end time; but same event ID.

I also looked into using callbacks; no idea how I'd be able to do that.
  <script src="https://ajax.googleapis.c

[2017-11-08 08:42] Trolzie commented on #169
Hi there @biplovdahal
Unfortunately the calendar isnt built to be able to update events. I suggest you do that using our API instead. you can read more about that here: http://developers.timekit.io/docs/bookings

[2017-11-08 16:55] biplovdahal commented on #169
So there is no way for me to use the calendar widget and update an booking; using the API? There is no way to void .createBooking(args) method and throw .updateBooking(args) instead?

[2017-11-08 16:55] biplovdahal commented on #169
Perhaps around the callback?

[2017-11-08 18:06] biplovdahal commented on #169
Found a way around to this; just to use the widget and to get the calendar data; what I did was I simply threw bookingGraph:  confirm-decline; which threw error upon creating a booking and did not create a booking at all; then I used call back like this: then I'd pass data I obtained from `showBookingPage` to my backend and make a PUT request to update the time in timekit.

[code]

[2017-11-08 23:32] biplovdahal opened #170 "Updating Event time doesn't sync with my widget time."
When I call an API call to update event start time; it doesn't sync with my widget times; when a time is picket it is still available to be picked in the widget... how is that possible?

I'm calling PUT on /events/:id.

[2017-11-09 12:54] Trolzie commented on #169
@biplovdahal well if it works, power to ya. But If you are just using the widget for getting booking data, there are easier ways around this. But you are showing the widget right?

[2017-11-09 18:15] biplovdahal commented on #169
I am showing the widget; correct. Looks like there is a bug; the calendar data doesn't seem to be properly syncing with API data specially for getting availability times; when a certain is not booked anymore it still doesn't show that slot as bookable.

[2017-11-14 19:40] laander commented on #148
@curlywurlycraig (Cc @chuckhacker )
You are correct, good catch. Unfortunately it's a restriction of the FullCalendar library that were using, i.e. it's out of our hands. The best approach is, as you describe, to force the parent to a larger width than 480 before initialization OR simpy make sure to only init booking.js when the parent is visually visible (and therefore has a width larger than 0)

[2017-11-14 19:40] #148 closed

[2017-11-14 19:54] laander commented on #168
@kinesii That line in the readme is out of date as we indeed do support group bookings now 🙈

Here's some documentation, diagrams and guides on how group bookings work: http://developers.timekit.io/docs/graphs-flows

In booking.js, you can only use the `group_customer` graph and not the `group_owner`. The short explanation is that the `group_owner` graph is used to define slots for a resource (eit

[2017-11-15 09:02] Trolzie commented on #169
@biplovdahal just make thins clear, then it isnt possible to update start/end in an existing bookings. This is a conscious decision on our part in the state machine.

[2018-04-12 20:24] Pheels opened #174 "Using bookingjs widget to collect payments before booking"
Is it possible to integrate payment into the widget itself without making significant code changes?

I understand that this is possible using the API but I am curious to see if it has been attempted using the widget. Is this something that has been brought up before?

Am I perhaps oversimplifying in assuming it would involve importing stripe payments (for example) and firing off a payment on the s

[2018-04-12 20:31] laander commented on #174
Hi @Pheels !

You're on the right track indeed. Take a look at this tutorial here: https://help.timekit.io/working-with-the-api/recipes/integrating-payments

It describes the payment flow using Stripe checkout.js. It is not booking.js specific, but I think you should be able to figure it out using the approach you descibed above with the `submitBookingForm` or `createBookingSuccessful` callback (e

[2018-04-15 17:47] Pheels commented on #174
Interesting, I have one question that I have been struggling to work out however, perhaps you can help.

I think the best approach is attempting to overwrite the submit button on the form so that it displays a stripe/paypal button instead, which consequently calls the submit booking function once payment is taken.

I have tried to do something along the lines of finding the button on the page and

[2018-05-03 18:52] #174 closed, assigned to nobody

[2018-05-03 19:07] laander commented on #174
@Pheels Creative hack!

May i suggest an alternative approach:

Using the `instant_payment` graph (like in the article i linked to), you can actually create the booking first which will place it into a `tentative` state. Then, using the `createBookingSuccessful` callback, you will show Stripe checkout widget and customer will either make the payment or cancel the flow.

If the customer choses to c

[2018-05-03 19:36] Pheels commented on #174
yes, I read the article and agreed that it would indeed be a more sophisticated approach.

despite this, my hack satisfies my current requirement and due to time constraints I will settle with that. If I get the time I will definitley go back and write a better solution. Or I will wait for native support :smiley:

[2018-05-15 07:46] laander commented on #174
@karltaylor You are right, the emails should probably be sent after the payment was received, not before. This would however be a breaking change to our existing graph, so it's a bit tricky to change now.

You can however disable our built-in emails and register a webhook instead to send out your own. In our admin panel, you can setup a webhook to listen to the booking `paid` state. Would that wor

[2018-05-15 09:50] karltaylor commented on #174
Yeah potentially, I thought about showing the stripe pay wall using `createBookingStarted`. But that would be the user would pay for the booking before it's confirmed. And not sure what kind of trouble that could cause?

[2018-06-21 17:56] karltaylor opened #179 "errorTriggered callback returns undefined"
Hey Timekit 👋

I've added a `errorTriggered` callback but it returns undefined in the param as shown in your docs.

[code]

I ended up using `fetchAvailabilityFailed` callback. But thought I'd flag anyway to see what `errorTriggered` is used for?

[2018-06-28 10:56] laander commented on #179
@karltaylor Thanks for reporting - you're right, the error message wasn't passed to the callback. I've fixed it now in https://github.com/timekit-io/booking-js/pull/180 which I'll release later today.

The callback is only triggered when an exception is thrown in the library (in addition to failed API requests). This can useful if you're configuring booking.js using dynamic config values and want

[2018-06-28 12:17] laander commented on #179
@karltaylor The fix has been released in `v2.0.2` now :+1:

[2018-06-28 12:17] #179 closed

[2018-07-04 14:34] karltaylor commented on #128
@Routhinator what's your build stack? You could just show a form and then show/hide the booking.js form when the form was submitted?

[2018-07-20 21:05] ramosmichael opened #181 "I need help!!"
Hello, I know this isn't a hiring forum but I'm integrating timekit into my product but need help. I had a backend developer just go MIA and I have just about everything complete, the end points, the logic, etc. I just need to update my code to V2, and implement this with my front end. Is anyone on here open to contract work?

Best

[2018-07-23 06:48] ramanasha commented on #181
hi Please tell me how can help you

[2018-07-31 20:47] #181 closed

[2018-09-12 07:30] DhavalRadhanpara opened #188 "Fetch availability not working properly"
we are having problem with "fetchAvailability". params ar eas follows
 `"{\"mode\":\"mutual\",\"resources\":[\"resource id\"],\"length\":\"15`
   ` minutes\",\"ignore_all_day_events\":false,\"constraints\":[{\"allow_day_and_time\":`
    `{\"day\":\"monday\",\"start\":10,\"end\":20}},{\"allow_day_and_time\":`
   ` {\"day\":\"tuesday\",\"start\":10,\"end\":20}},{\"allow_day_and_time\":`
    `{\"day\

[2018-10-22 19:19] svarlamov opened #194 "Link in description is no longer available"
This link `https://www.timekit.io/solutions/accept#booking-widget` in the repo description returns a 404

[2018-12-11 12:31] laander commented on #188
Hi @DhavalRadhanpara , if you're still having problems, please contact our support at https://www.timekit.io/contact-us - thanks!

[2018-12-11 12:31] #188 closed

[2018-12-11 12:32] #169 closed

[2018-12-11 12:32] #168 closed

[2018-12-11 12:32] #170 closed

[2019-05-29 23:44] mickeyreiss opened #197 "Blur focus on booking form when user clicks submit"
It would be useful on mobile if the booking form would blur focus when the user taps submit. This would help because it would cause the on-screen keyboard to hide during form submission.

[2019-05-29 23:46] #197 closed

[2019-09-14 06:07] bipin244 commented on #76
Hello friend,
any update on this or any other way to avoid this?

[2019-09-14 06:07] bipin244 commented on #87
Any Updates?

[2019-11-06 12:44] laander commented on #76
@bipin244 This has been supported and enabled by default for quite a few years now. To disable it on a per-booking basis, you can pass `settings.allow_double_bookings: true` to your API request - please see https://developers.timekit.io/reference

[2019-11-06 12:44] #76 closed

[2019-11-06 12:44] laander commented on #87
I've updated this thread with a comment: https://github.com/timekit-io/booking-js/issues/76

[2020-05-22 19:06] lauralibretti opened #198 "Prevent Booking without validation"
I want to put a validation on the event "createBookingStarted" which if not met, prevent processing the appointment. Something like:
...
callbacks: {
			createBookingStarted:	function(args) { BookingClick(args) }
} ......

function BookingClick (args) {
		console.log('createBookingStarted', args)
		if (ValidationNotOK){
                        //Stop process
		        return false

[2020-06-13 01:27] fandy commented on #73
Any updates on recurring meetings? Would be great for subscription platforms. If not, what is the current suggested workaround?

[2020-06-15 13:55] sbalachandar1 opened #199 "Available slots are different in Desktop vs Mobile"
Using the same widget, the slots shown on a desktop view differed from the mobile view. All slots were for 15 mins, but we still see a big slot for some reason.

![issue - mobile slots](https://user-images.githubusercontent.com/64418044/84665721-2c7c1400-aeee-11ea-96f0-7b82d08f0fe3.png)
![issue -desktop slots](https://user-images.githubusercontent.com/64418044/84665724-2d14aa80-aeee-11ea-82bc-e9a5

[2020-06-17 02:03] beamercola opened #200 "Limit bookings 1 per day"
Hi I'm bringing booking in to limit access to a resource - so want each customer to 1 booking per day.  Is this possible?

[2020-07-01 13:13] madalena-as commented on #120
Hi @laander ,

Is this issue already solved? I would also like to remove the hangouts link from the google invites, but don't know how.

Thanks in advance,
Madalena

[2020-07-22 12:22] COZZIEDAN opened #201 ""Book it" button colour"
Hi guys totally new here and with TimeKit, can somebody tell me how to change the colour of the Book button please?

Thank you

Dan

[2020-08-04 15:18] sbalachandar1 opened #202 "Google Calendar not Syncing"
Google Calendar is not syncing often for our resources. At times, we have seen the last sync mentioned as "3 days ago", while our resources have other events created/changed on their calendar through Booking JS and other external methods such as direct Calendar invites, etc.

[2020-08-10 07:08] ShiTing111 opened #203 "node-sass version issue (Old)"
### node-sass version is too old

I got the errors below when running with "npm install"
After I updated the node-sass version from 3.4.1 to 4.5.3 with the commands, the errors disappear.
**npm install node-sassrm -rf node_modules package-lock.json
npm install --saveDev node-sass@4.5.3**

gyp ERR! build error
gyp ERR! stack Error: C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBu

[2020-09-17 12:21] lloydrhodes87 opened #206 "Cant find Jquery in Ionic app"
Im trying to integrate with an ionic 3 app and im having a problem with timekit finding jquery.

ERROR ReferenceError: $ is not defined

at the moment im using timekit booking via npm and jquery as a script tag in the html file...

I've been looking into a solution for importing jqery with npm but not sure how a node module will be able to find the $ variable if i just import it into the component

[2020-09-17 13:10] #206 closed

[2020-09-17 13:10] lloydrhodes87 commented on #206
my bad i forgot to add defer to the script tag!

[2020-10-09 12:18] ishanka25 opened #207 "how to add meta data to the booking object"

[2020-10-09 12:23] #207 closed

[2020-10-12 12:35] ishanka25 commented on #174
@laander can't we define a custom time which it will change to the `paid` state? In my case if the customer needed more than 5mins to do the transaction, it won't allow me to change the status from `unpaid` to `paid`

[2020-10-12 12:44] laander commented on #174
@ishanka25 I think you can customize the timeout time yourself by passing booking creation a payload like this:
[code]

[2020-10-19 06:24] ishanka25 commented on #174
would you be able to provide a working example? I tried to add the above to the config, but it doesn't work.

[2020-11-20 18:13] nicobevilacqua opened #209 "5 minutes of buffer time between appointment"
Hi, I'm working on the implementation of timekit on my site but for our requirement I would need to set the buffer time between events on 5 minutes top. Is there a way to do that? On the interface looks like the minimum is 15 minutes (or 0 minutes) and that won't work for us.

[2020-11-25 20:25] rsilvestre commented on #199
Hi,

I have the same issue, did you find a solution ?

[2020-11-25 21:08] rsilvestre commented on #199
@laander, I just install the package from github and it fix my issue. I think that you should release the version 2.7.0 on NPM

[2021-01-08 16:06] boardfish opened #212 "Show availability from a subset of project resources"
I expected to be able to use the `resources` config option in combination with `project_id` in this way: by supplying an array of resources to `resources`, I'd be able to pick from that subset of the resources linked to the project. Let's say the project has resource 1, 2, and 3 linked. If the resources array contained 1 and 4, both of those resources would be shown. But since 4 isn't on the proje

[2021-02-09 10:48] boardfish opened #213 "jQuery 3.5.1 incompatibility"
Symptoms seem similar to #5348 in that `fc-bg` `div`s keep nesting inside one another, but I've verified that I'm using the fixed version of FullCalendar (3.10.2) and jQuery 3.5.1.

[2021-04-26 18:57] #84 closed

[2021-06-14 19:48] aliasaria commented on #213
We recently upgraded to jQuery 3.6.0. Can you let us know if the issue is resolved?

[2021-06-14 19:48] #213 closed

[2021-06-17 13:33] boardfish commented on #213
Upgraded the library the other day and I can confirm that the issue's resolved.

[2021-06-17 13:52] boardfish opened #220 "Only one instance on a page will respond to callbacks"
If I'm rendering two instances of the widget on the page, I've found that only the second instance that was rendered will respond to callbacks.

I'm initializing them from two separate instances of a [Stimulus](https://stimulus.hotwire.dev/) controller. In short, there are two elements on the page that each have a `data-controller` attribute. That tells Stimulus to mount an instance of a controlle

[2022-03-28 12:37] #106 closed

[2022-04-04 06:30] spiftire opened #242 "Not working with SSR using Next JS"
I can not get this module to work with server side rendering.

I have followed provided guides and instansiated the the module as follows.

[code]

[code]

This happen even when i set up the following guard. before instansiating the module
[code]

[2022-04-25 23:15] gumatias opened #247 "How to override the rendered `booked-email` element?"
Hi, any ideas on to easily override the `booked-email` class in the span tag from `booking-js`? Is it configurable?

https://github.com/timekit-io/booking-js/blob/e2c3a29efeb510f81cd2b71d71eeea54d9d78131/src/render.js#L587

We'd like to add more classes for data obfuscation and avoid tracking. Because it's sensitive.

We're having to create our own custom logic to manipulate the DOM which looks li

[2022-08-19 12:13] hugo-lobo opened #261 "No way of prefilling a select field."
During testing of one of our flows it was noticed that the select field didn't have the correct option prefilled.
After investigating I found that passing a prefilled value to a dropdown (select) type field will cause all options in the list to have the selected attribute in the HTML due to the mustache logic in [your select.html template](https://github.com/timekit-io/booking-js/blob/c555ac134dc1